<!DOCTYPE html>
<html>
<head>
    <title>Accueil</title>
</head>
<body>
    <h1>Bienvenue sur la Todolist</h1>
    <a href="/todos/new">Créer un nouveau Todo</a>
    <a href="/todos">Voir tous les Todos</a>
</body>
</html>
